
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: sans-serif;
    background-color: #ECEFF1;
    color: #333;
}

/*  HEADER / NAV*/

header {
    background-color:rgba(204, 51, 0, 0.5);;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.a-encabezado {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.a-encabezado:hover {
    color: #CC3300;
    background-color: white;
    padding: 5px 8px;
    border-radius: 4px;
}

/* COLLAGE TEAM */

#contenedor-team {
    background: linear-gradient(to bottom, #CC3300 0%, #ECEFF1 20%, #ECEFF1 80%, #CC3300 100%);
    padding: 60px 80px;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    text-align: center;
}

.card-team {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.card-team img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #CC3300;
    margin-bottom: 15px;
}

.card-team h3 {
    color: #CC3300;
    font-size: 20px;
    margin-bottom: 8px;
}

.card-team p {
    color: #010101;
    font-size: 15px;
}

#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.9;
}
#contenedor-team {
    background: transparent;
}